# Ignore Python venvs
venv/
**/venv/

# Ignore common Jupyter backup files
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# VSCode workspace settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

#PA5 dataset ignored
CS331/PA5/SpotifyFeatures.csv
